.bottom {
  position: fixed;
  bottom: 0;
  width: 95vw;
  height: 80px;
  color: wheat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: rgba(214, 202, 198, 0.04);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(16.4px);
  -webkit-backdrop-filter: blur(16.4px);
  border: 1px solid rgba(214, 202, 198, 0.25);
}

#myProgressBar {
  width: 90%;
  margin-right: 80px;
}

.icons {
  width: 50px;
  height: 25px;
  margin-top: 10px;
  margin-right: 100px;
}
